{% extends "report.html" %}

{% macro link_title_for_testrun(testrun) -%}
    {% if testrun|is_correct_answer -%}
        {{ testrun.result.status }}
    {%- else -%}
        {{ testrun.result.status -}}
        {%- if testrun.result.format_details() is not equalto None -%}
            {{ "\n\n" }}{{ testrun.result.format_details()|dump|e }}
        {%- endif -%}
    {%- endif %}
{%- endmacro %}

{% block content %}
    {{ debug }}

    {% for problem_group in testruns|groupby("solution.problem.name")|sort %}
        <div class="page-header">
            <h2>Problem: {{ problem_group.grouper }}</h2>
        </div>

        <table class="table table-bordered text-center" style="width: auto;">
            <thead>
                <tr>
                    <th class="text-center bg-primary author-header-cell nowrap" style="width: 150px;">problem</th>
                    <th class="text-center bg-primary author-header-cell nowrap" style="width: 100px;">testcase</th>

                    {% for author_group in testruns|groupby("solution.author") %}
                        <th class="text-center bg-primary author-header-cell nowrap" style="width: 100px;">
                            {{ author_group.grouper }}
                            {%- set solutions = problem_group.list|selectattr("solution.author", "equalto", author_group.grouper)|map(attribute="solution")|list %}
                            {%- if solutions and solutions[0].language %}
                                <br>
                                {{ solutions[0].language }}
                            {%- endif %}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for testcase_group in problem_group.list|groupby("testcase.name") %}
                    <tr>
                        <td>{{ problem_group.grouper }}</td>
                        <td>{{ testcase_group.grouper }}</td>
                        {% for testrun in testcase_group.list|sort(attribute="solution.author") %}
                            {%- if testrun|is_correct_answer %}
                                <td class="result-link-cell heatmap-cell" style="background-color: {{ testrun.data["heatmap_heat_color"] }}">
                                    <a href="report-full.html#{{ problem_group.grouper }}-{{ testrun.solution.author }}-{{ testrun.testcase.name }}" title="Adjusted time: {{ testrun.data["heatmap_adjusted_time"]|round(1) }} ms">
                                        {{- testrun.get_lean_elapsed_milliseconds() -}}
                                    </a>
                                </td>
                            {%- else %}
                                <td class="result-link-cell heatmap-cell" style="background-color: #F2F2F2">
                                    <a href="report-full.html#{{ problem_group.grouper }}-{{ testrun.solution.author }}-{{ testrun.testcase.name }}" title="{{ link_title_for_testrun(testrun) }}">
                                        {{- testrun.result.status_code -}}
                                    </a>
                                </td>
                            {%- endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td class="bg-primary" colspan="2">
                        <strong>mean</strong>
                        <br>
                        <strong>stddev</strong>
                    </td>
                    {% for author_group in problem_group.list|groupby("solution.author") %}
                        <td class="bg-primary nowrap">
                            {%- set mean, stddev = author_group.list|map(attribute="data")|map(attribute="heatmap_adjusted_time")|list|summary_statistics %}
                            {%- if mean %}
                                <strong>
                                    {{- mean|round|int -}}
                                    <br>
                                    {{- stddev|round|int -}}
                                </strong>
                            {%- else %}
                                <strong>N/A<br>N/A</strong>
                            {%- endif %}
                        </td>
                    {% endfor %}
                </tr>

            </tbody>
        </table>
    {% endfor %}
{% endblock %}
